<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Restrict Odoo Apps catalog to system admins only -->
    <record id="base.open_module_tree" model="ir.actions.act_window">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_system')])]"/>
    </record>


    <!-- Root app menu — shows as tile on home screen -->
    <menuitem
        id="menu_school_root"
        name="School"
        sequence="10"
        web_icon="school_management,static/description/icon.svg"/>

    <menuitem
        id="menu_school_teacher"
        name="Teachers"
        parent="menu_school_root"
        action="school_management.action_school_teacher"
        groups="school_management.group_school_teacher"
        sequence="10"/>

    <menuitem
        id="menu_school_student"
        name="Students"
        parent="menu_school_root"
        action="school_management.action_school_student"
        groups="school_management.group_school_teacher,school_management.group_school_accountant"
        sequence="20"/>

    <menuitem
        id="menu_school_admission"
        name="Admissions"
        parent="menu_school_root"
        action="school_management.action_school_admission"
        groups="school_management.group_school_teacher"
        sequence="30"/>

    <menuitem
        id="menu_school_info"
        name="School Information"
        parent="menu_school_root"
        action="school_management.action_school_info"
        groups="school_management.group_school_admin,school_management.group_school_principal"
        sequence="90"/>
</odoo>
